@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    margin-left: 2em;

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      position: relative;

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 10px;
        position: absolute;
        top: 1.5em;
        @include mobile-l {
          font-size: 23px;
        }
        @include mobile-ms {
          top: 0;
        }
        @include mobile {
          position: absolute;
          top: 2em;
        }
      }

      h1 {
        font-size: 80px;
        margin-top: 3em;

        @include tablet-s {
          font-size: 75px;
        }
        @include tablet-xs {
          font-size: 65px;
        }
        @include mobile-l {
          font-size: 50px;
        }
        @include mobile {
          font-size: 30px;
          margin-right: 1em;
        }
        @include mobile-ms {
          font-size: 60px;
          // text-align: center;
          width: 100%;
          height: auto;
        }
      }

      .buttons {
        button {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;
        }
        @include mobile {
          position: absolute;
          top: 23em;
        }
      }

      .img {
        margin-left: 8.4rem;
        margin-top: -5rem;
        padding-top: 0;
        width: 50px;
        border-radius: 50px;
        font-size: 200px;
        @include mobile {
          position: absolute;
          top: 2.25em;
          right: 1.55em;
        }
      }
    }
  }

  .imageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 10rem;
    overflow: hidden; /* Ensure the border-radius and box-shadow are applied properly */
    border-radius: 20px; /* Adjust the value based on the desired border-radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @include mobile {
      height: 50%;
      width: 100%;
      top: unset;
      bottom: 0;
    }
    @include mobile-l {
      right: 6rem;
    }
    @include mobile-xl {
      right: 4rem;
    }
    @include tablet-xs {
      right: 7rem;
    }
    @include mobile-lm {
      right: 4rem;
    }
    @include mobile-m {
      right: 3rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include mobile-m {
        width: 70%; /* Adjust the percentage based on your design */
        height: auto; /* Automatically adjust the height to maintain aspect ratio */
        margin-top: 3em;
        margin-left: 10em;
        border-radius: 20px;
      }
      @include mobile-ms {
        display: none;
        width: 0;
      }
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
